[build]
  command = "npm ci && npm run build"
  publish = "dist"

[build.environment]
  VITE_SUPABASE_URL = "https://ilsclcccknopvadzgsiv.supabase.co"
  VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlsc2NsY2Nja25vcHZhZHpnc2l2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwNjQ1MTksImV4cCI6MjA3ODY0MDUxOX0.TgG3t7LP5vrvHyD-OI8WWZ8QQy0uYJThSvzUjAeJZP8"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
